.container{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.container img{
  width: 597px;
  height: 263px;
}


.container h1{
    color: #FF6060;
    font-size: 36px;
}

.container p {
  text-decoration: underline;
}

.container a{
  color: #333;
  font-size: 16px;
}

.Banner{
 margin-left: 100px;
 margin-right: 100px;
 margin-top:50px;
 margin-bottom:50px;

 

}
.Banner img{
    width: 1350px;
    height: 223px;

}



/* Conteneur principal */
.logement-container {
  width: 1400px;
  margin: 80px;

  
}

/* Carrousel */
.carrousel {
  display: flex;
  justify-content: center;
  position: relative;
  
}


.carousel-image {
  width: 1400px;
  height: 500px;
  object-fit: cover; /* This ensures the image fills the area while maintaining aspect ratio */
}


.image-container {
  width: 1400px; /* Match the carousel image width */
  border-radius: 10px;
  overflow: hidden; /* To ensure the carousel fits within the set width */
}

/* Titre et localisation */
.details h2 {
  font-size: 24px;
  color: #ff6060;
  margin: 0;
}

.text {
  display: flex;            /* Disposer les enfants en ligne (horizontalement) */
   /* Placer les éléments aux extrémités */
flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.details {
  flex: 1;                   /* Occuper tout l'espace disponible */
}

.details-and-host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Espacement entre les éléments */
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row; /* Aligne le prénom et le nom en colonne */
  text-align: center; /* Centre le texte */
}

.hostname{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.host p {
  font-size: 16px; /* Correction de '16p' en '16px' */
  color: #FF6060;
  margin: 0; /* Retirer les marges pour que le prénom et le nom soient proches */
}

.host img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Rendre l'image ronde */
  object-fit: cover; /* Ajuster l'image */
}




.stars-and-host {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  justify-content: space-between; /* Espacement égal entre les éléments */
  margin-top: 20px;
}


.tags-and-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Espacement entre les éléments */
}
.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Gère les débordements en ligne */
  margin-top: 20px;
}

.tag-item {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.logement-rating {
  display: flex;
  gap: 5px;
  margin-left: 20px;
}

.logement-rating .star {
  font-size: 20px;
  color: #F6F6F673;
}

.logement-rating .star.filled {
  color: #ff6060;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  gap:100px;

}

.tab {
width: 520px;
 
}
.tabs .tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
 
}

.tabs .tab p {
  margin: 0;
}

.logement-container .carrousel {
  position: relative;
  margin: 50px;
}

.image-container {
  position: relative;
  text-align: center;
  width: 1500px; ;
}

.carousel-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none; /* Pas de fond */
  color: white;
  border: none; 
  padding: 10px;
  font-size: 46px;
  cursor: pointer;
  z-index: 1;
  width: 96px;
  height: 119.64px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 20px;
  
  
 
}

.icon {
  width: 96px;
  height: 119.64px;
}
.next-button {
  right: 20px;
  
  
  
}

.image-counter {
  position: absolute;
  bottom: 15px;
  right: 50%;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
}


.logement-page .collapse-container {
  width: 600px;
}

.about-page .collapse-container {
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  width: 80%;
}




.Banner{
  margin: 20px;
}

.host-and-rating {
  display: none;
  
}

@media screen and (max-width: 767px) {

  .logement-container {
    width: 100%;
    margin: 0;
  
  }

  .icon {
    width: 24px;
    height: 24px;
  }
  .next-button {
    right: 5px;
  }

  .prev-button {
    left: 5px;
  }

  .logement-container .carrousel {
    margin: 20px;
  }
  .text {display: flex;
    flex-direction: column;
    margin: 20px;  
  }
  .stars-and-tags{
    margin-left: 20px;
    margin-right: 20px;
  }
  .tabs {
    margin: 20px; 
  }
  .about-page .collapse-container {
    margin: 20px;
    width: 100%;
  }

  .container h1 {
    color: #FF6060;
    font-size: 20px;
  }
  .container img {
    margin: 50px;
    width: 198px;
    height: 99px;
  }
  .container h1 {
    font-size: 18px;
    margin: 100px;
  }
  .container a {
    font-size: 14px;
  }
  .logement-rating{
    display: none;
  }
  .host-and-rating {
    display: flex;
    order: 0;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Espacement entre les éléments */
  }
  .host{
    display: none;
  }
  .host-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row; /* Aligne le prénom et le nom en colonne */
    text-align: center; /* Centre le texte */
    order: 2;
  }

  .hostname-mobile{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .host-mobile p {
    font-size: 16px; /* Correction de '16p' en '16px' */
    color: #FF6060;
    margin: 0; /* Retirer les marges pour que le prénom et le nom soient proches */
  }
  .logement-rating-mobile {
    display: flex;
    gap: 5px;
    margin-left: 20px;
    order: 1;
  }

  .logement-rating-mobile .star {
    font-size: 20px;
    color: #F6F6F673;
  }

  .logement-rating-mobile .star.filled {
    color: #ff6060;
  }

  .host-mobile img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Rendre l'image ronde */
    object-fit: cover; /* Ajuster l'image */
  } 

  .tabs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    gap:20px;

  }
  .about-page .collapse-container {
    margin-left: 20px;
    margin-right: 20px;
    width: 93%;
  }
  .logement-page .collapse-container {
    width: 100%;
  }
  .container img { margin: 100px;

   

  }  .container a{
      font-size: 14px;
      margin: 100px;
    }
  .container h1 {
      font-size: 18px;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 50px;
      margin-bottom: 0px;
  }
}

